#btn-courses {
  background-color: #3271b3;
  padding: 8px 30px;
  margin-left: 20px;
}

d-flex justify-content-between mt-5 .content-section {
  padding: 9px 55px;
  border-radius: 10px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.content-section img {
  padding: 15px;
}

.contents {
  margin-top: 100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
